name: Event Commit - Single Job

on:
# se activa cuando hay un puch na main
  push:
    branches:
      - main

jobs:
  hello-world:
    runs-on: ubuntu-latest

    steps:
    - name: Fist Step
      run: echo "Hello World"