name: Event PR - Single Job
# hace hello world cuando se hace una pull request como los nombres de las carpetas del repo del master
on:
  pull_request:

    
jobs:
  hello-world:
    runs-on: ubuntu-latest

    steps:
    - name: Fist Step
      run: echo "Hello World"