name: Python Tests on PR

on:
  pull_request:
    types: [synchronize, opened, reopened]
  workflow_dispatch:
  push:
    branches:
      - '*'

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r code/python/requirements.txt

    - name: Run tests
      run: python -m unittest discover -s code/python -p "test_*.py"

    - name: Run linters
      run: flake8 code/python
    
    - name: Run security checks
      run: bandit -r code/python

    - name: Lint Dockerfile
      uses: hadolint/hadolint-action@v3.1.0
      with:
        dockerfile: code/python/DockerFile

  docker:
    runs-on: ubuntu-latest
    needs: linting

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # Set up Docker Buildx con cache
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        version: latest
        driver-opts: network=host

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: user/app:latest
        file: code/python/DockerFile
        context: .
        cache-from: type=registry,ref=user/app:cache
        cache-to: type=registry,ref=user/app:cache,mode=max
